[submodule "taaskingclient.userDB"]
	path = taaskingclient.userDB
	url = https://pratts:prateek*SHM1@git.assembla.com/taaskingclient.userDB.git
[submodule "taaskingclient.server"]
	path = taaskingclient.server
	url = https://pratts:prateek*SHM1@git.assembla.com/taaskingclient.server.git
[submodule "taaskingclient"]
	path = taaskingclient
	url = https://pratts:prateek*SHM1@git.assembla.com/taaskingclient.git
[submodule "html5poker"]
	path = html5poker
	url = https://pratts:prateek*SHM1@git.assembla.com/html5poker.git
[submodule "taaskingclient.node"]
	path = taaskingclient.node
	url = https://pratts:prateek*SHM1@git.assembla.com/taaskingclient.node.git
